<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="/base/css/reset.min.css") }}' />
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="/base/css/style.css") }}' />
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="/base/css/header.css") }}' />
  </head>
    <body>
        <!-- Header Start -->
        <header class="site-header">
            <div class="wrapper site-header__wrapper">
                <div class="site-header__start">
                {% if g.user %}
                    <a class="brand"> Usuario: {{ g.user['username']}}</a> 
                {% endif %}
                </div>
                <div class="site-header__middle">

                </div>
                <div class="site-header__end">
                {% if g.user %}
                    <a href="{{ url_for('auth.logout') }}">Cerrar sesion</a>    
                {% endif %}          
                </div>
            </div>
        </header>
        <!-- Header End -->
        <div class="update"> 
            <form method="post" class="action1"> 
                {{ NOMBRE_DEL_USER }} 
                <label for="taller">Taller</label>
                <select type="taller" name="taller" id="taller" required>
                    {% for taller in talleres %}
                    <option value= "{{taller['id']}}" > {{taller['nombre']}}</option>
                    {% endfor %}    
                </select> 
                <input type="submit" value="Asignar"/>          
        
            </form>
        </div>

    </body>
</html>